# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Trivy report
trivy-report.json

# Python
__pycache__/
*.pyc
.pytest_cache/
